<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CustomerDataConnectionString" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Northwind"
      providerName="System.Data.SqlClient" />
    <add name="BMMAppConnectionString" connectionString="Data Source=CHOUCHOU\BMMAPP;Initial Catalog=BMMApp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMMConnectionString" connectionString="Data Source=CHOUCHOU\BMMAPP;Initial Catalog=BMM_SH;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BMM_SHConnectionString" connectionString="Data Source=CHOUCHOU\BMMAPP;Initial Catalog=BMM_SH;Integrated Security=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="BMM_SHConnectionString2" connectionString="Data Source=CHOUCHOU\BMMApp;Initial Catalog=BMM_SH;Integrated Security=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings/>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

</configuration>